html {
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column;
    background: rgb(161,161,167);
    background: linear-gradient(195deg, rgba(161,161,167,1) 0%, rgba(240,197,197,1) 79%);
    justify-content: space-between;
    
}

img {
    max-width: 100%;
    border-radius: 100px; /* Радиус скругления */
    box-shadow: 0 0 4px #666; /* Параметры тени */
  
}

.header {
    display: flex;
    flex-flow: row;
    column-gap: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.header .mycontacts {
    text-align:left;
}

.header .image {
    width: 150px;

}

.main {
    display: flex;
    flex-flow: row;
    column-gap: 20px;
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

.main .column {
    flex: 1 50%;
}
 .main .column p {
    max-width: 350px;
 }

.footer {
    background-color: rgba(161,161,167,1);
    text-align: center;
}
