.header {
    display: flex;
    flex-flow: row;
    column-gap: 35px;
    padding: 10px 150px 0px;
    text-align: center;
    background: rgb(209, 204, 204);
}

.header img {
    padding: 10px;
    height: 10%;
    width: 10%
}

.main {
    background: rgb(209, 204, 204);
    padding: 10px 50px 0px;
}

.footer {
    background: rgb(209, 204, 204);
}
